<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Edit Shape</title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        <form action='/svgDrawing/<%=shape._id%>?_method=PUT' method='post'>
        <label>Xposition:</label><input type='number' name='xPosition' value='<%=shape.xPosition%>'/><br/>
            <label>Circle?:</label><input type='checkbox' name='isCircle' 
                <% if(shape.isCircle === true){ %> 
                    checked
                <% } %>
            /><br/>
            <label>fill Color:</label><input type='string' name='shapeFill' value='<%=shape.shapeFill%>'/><br/>
            <input type='submit' name='' value='Edit Shape'/>
        </form>
    </body>
</html>
